h1,
h3,
h4 {
  text-align: center;
}
#buttons {
  text-align: center;
}

button {
  width: 150px;
}

#playerField,
#computerField {
  margin: 0 auto;
  width: 300px;
  height: 300px;
}

#computerField div {
  font-size: 150px;
  text-align: center;
  margin: 30px auto;
}

#playerField div {
  font-size: 150px;
  text-align: center;
  margin: 30px auto;
}

.winGreen {
  background-color: lightgreen;
}

.loseRed {
  background-color: lightcoral;
}

.drawWhite {
  background-color: white;
}

table {
  margin: 0 auto;
}

td,
th {
  width: 100px;
}

tr,
td,
th {
  padding: 5px 10px;
  text-align: center;
  border: 1px solid rgba(black, 0.175);
}
